html , body {
    height: 100%;
    width: auto;
    background-color: antiquewhite;
}

.page-title , .recipe-links {
    text-align: center;
}

.page-title {
    text-decoration: underline;
    color: white;
    background-color: rgb(20, 138, 146);
    height: 100px;
    width: 100%;
    line-height: 100px;
}

.recipe-links {

}