html , body {
    height: 100%;
    width: auto;
    background-color: antiquewhite;
}

h1 {
    font-family: 'Lucida Console', 'Courier New', monospace;
}

.page-title , .recipe-links {
    text-align: center;
}

.page-title {
    text-decoration: underline;
    color: white;
    background-color: rgb(20, 138, 146);
    height: 100px;
    width: 100%;
    line-height: 100px;
}

.recipe-links {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 26px;
}